ul {
    list-style: none;
}
body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* removes tabfocus outline for onfocus handler */

.location-click:focus {
    outline: none;
}
#map {
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
}
.info-picture {
    max-width: 10px;
}
.hidden {
    display: none;
}
.showing {
    color: red;
}
.location-img {
    max-width: 10%;
    display: inline;
}
